.course-page .body {
  width: 54%;
}
@media screen and (max-width: 990px) {
  .course-page .body {
    width: 80%;
    margin: auto !important;
  }
}

@media screen and (max-width: 490px) {
  .course-page .body {
    width: 98%;
    margin: auto !important;
  }
}

.course-page .body-card {
  border: 1px solid rgba(128, 128, 128, 0.521);
  padding: 20px;
}

.course-page .what-you-learn h3 {
  font-size: 24px;
}

.course-page .what-you-learn .what-you-learn-item {
  font-size: 15px;
}
.course-page .what-you-learn .what-you-learn-item span {
  margin: 4px;
  margin-left: 12px;
}

.course-page .top-companies h4 {
  font-size: 15px;
}

.course-page .top-companies p {
  color: grey;
  font-size: 15px;
}

.course-page .top-companies p a {
  color: rgb(175, 76, 214);
  text-decoration: underline;
  cursor: pointer;
}

.companies {
  width: 100%;
  overflow: hidden;
}

.course-page .top-companies .companies img {
  object-fit: cover;
}

.course-page .accordion {
  background-color: rgba(128, 128, 128, 0.158);
  border: 1px solid rgba(128, 128, 128, 0.233);
  color: black;
}

.course-page .accordion .content {
  background-color: white;
}

.course-page .course-content {
  border: none;
}

.course-page .course-content .expand {
  color: rgb(175, 76, 214);
}

.course-page .course-content .expand:hover {
  cursor: pointer;
  color: rgb(150, 43, 192);
}

.course-page .course-content .lecture div {
  color: grey;
}

.course-page .course-content .lecture a {
  color: rgb(131, 54, 219);
}

.course-page .course-content .lecture a:hover {
  cursor: pointer;
  color: rgb(150, 43, 192);
}

.course-page .requirements {
  border: none;
}

.course-page .description {
  border: none;
}

.course-page .description .text {
  font-size: 15px;
}

.course-page .description .text.masked {
  mask-image: linear-gradient(to bottom, black 40%, transparent 100%);
}

.course-page .description button {
  color: rgb(130, 40, 165);
  background-color: transparent;
  border: none;
}

.course-page .description button:hover {
  color: rgb(150, 43, 192);
}

.course-page .description .who-for {
  border: none;
}

.course-page .instructor h5 {
  color: rgb(115, 40, 165);
  text-decoration: underline;
}

.course-page .instructor h5:hover {
  color: rgb(130, 69, 170);
  cursor: pointer;
}

.course-page .instructor p {
  color: grey;
}

.course-page .instructor img {
  width: 20%;
  border-radius: 10000px;
  border: 1px solid grey;
  object-fit: cover;
}

.course-page .instructor img:hover {
  cursor: pointer;
}

.course-page .instructor button {
  color: rgb(130, 40, 165);
  background-color: transparent;
  border: none;
}

.course-page .instructor button:hover {
  color: rgb(150, 43, 192);
}

.course-page .instructor .masked {
  mask-image: linear-gradient(to bottom, black 40%, transparent 100%);
}

.course-page .reviews {
  border: none;
}

.course-page .reviews h5,
.course-page .reviews p {
  color: rgb(231, 231, 67);
  text-align: center;
}

.course-page .reviews h5 {
  font-size: 35px;
}

.course-page .reviews .box {
  color: grey;
}

.course-page .reviews div.blue {
  color: blue;
}

.course-page .comment .image {
  color: white;
  height: 50px;
  width: 50px;
  border-radius: 2000px;
  font-size: 12px;
  background-color: rgb(51, 49, 49);
}

.course-page .comment .date {
  color: grey;
  font-size: 13px;
}

.course-page .comment .details {
  color: black;
  text-align: start;
}

.course-page .comment .helpful {
  color: grey;
  text-align: start;
  font-size: 12px;
}

.course-page .comment .divider {
  height: 1px;
  width: 85%;
  background-color: rgba(128, 128, 128, 0.644);
}

.course-page .comment .button {
  border: 1px solid black;
  width: 40px;
  height: 40px;
  border-radius: 2000px;
  color: black;
  cursor: pointer;
  transition: 0.3s;
}

.course-page .comment .button:hover {
  background-color: black;
  color: white;
}

.course-page .comment .button.chosen {
  background-color: black;
  color: white;
}

.course-page .comment .report {
  color: black;
  text-decoration: underline;
  cursor: pointer;
}

.course-page .comments .drop-down {
  background-color: white;
  border: 1px solid black;
  color: black;
  border-radius: 0;
}

.course-page .search-rating input {
  color: grey;
  padding: 5px;
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.938);
  border-radius: 0;
}

.course-page .search-rating button {
  background-color: rgba(0, 0, 0, 0.938);
  color: white;
}

.companies-footer {
  background-color: rgb(29, 29, 29);
  padding: 20px 10px;
  margin-top: 30px;
  border-bottom: 1px solid rgba(128, 128, 128, 0.685);
}

.companies-footer h6 {
  color: white;
  font-size: 19px;
}

.companies-footer h6 span {
  color: rgb(139, 44, 163);
}

.companies-footer h6 span:hover {
  cursor: pointer;
  color: rgb(208, 107, 233);
}
