.course-page .body {
  width: 54%;
}
@media screen and (max-width: 990px) {
  .course-page .body {
    width: 80%;
    margin: auto !important;
  }
}

@media screen and (max-width: 490px) {
  .course-page .body {
    width: 98%;
    margin: auto !important;
  }
}

.course-page .body-card {
  border: 1px solid rgba(128, 128, 128, 0.521);
  padding: 20px;
}

.course-page .what-you-learn h3 {
  font-size: 24px;
}

.course-page .what-you-learn .what-you-learn-item {
  font-size: 15px;
}
.course-page .what-you-learn .what-you-learn-item span {
  margin: 4px;
  margin-left: 12px;
}

.course-page .top-companies h4 {
  font-size: 15px;
}

.course-page .top-companies p {
  color: grey;
  font-size: 15px;
}

.course-page .top-companies p a {
  color: rgb(175, 76, 214);
  text-decoration: underline;
  cursor: pointer;
}

.companies {
  width: 100%;
  overflow: hidden;
}

.course-page .top-companies .companies img {
  object-fit: cover;
}

.course-page .accordion {
  background-color: rgba(128, 128, 128, 0.158);
  border: 1px solid rgba(128, 128, 128, 0.233);
  color: black;
}

.course-page .accordion .content {
  background-color: white;
}

.course-page .course-content {
  border: none;
}

.course-page .course-content .expand {
  color: rgb(175, 76, 214);
}

.course-page .course-content .expand:hover {
  cursor: pointer;
  color: rgb(150, 43, 192);
}

.course-page .course-content .lecture div {
  color: grey;
}

.course-page .course-content .lecture a {
  color: rgb(131, 54, 219);
}

.course-page .course-content .lecture a:hover {
  cursor: pointer;
  color: rgb(150, 43, 192);
}

.course-page .requirements {
  border: none;
}

.course-page .description {
  border: none;
}

.course-page .description .text {
  font-size: 15px;
}

.course-page .description .text.masked {
  mask-image: linear-gradient(to bottom, black 40%, transparent 100%);
}

.course-page .description button {
  color: rgb(130, 40, 165);
  background-color: transparent;
  border: none;
}

.course-page .description button:hover {
  color: rgb(150, 43, 192);
}

.course-page .description .who-for {
  border: none;
}

.course-page .instructor h5 {
  color: rgb(115, 40, 165);
  text-decoration: underline;
}

.course-page .instructor h5:hover {
  color: rgb(130, 69, 170);
  cursor: pointer;
}

.course-page .instructor p {
  color: grey;
}

.course-page .instructor img {
  width: 20%;
  border-radius: 10000px;
  border: 1px solid grey;
  object-fit: cover;
}

.course-page .instructor img:hover {
  cursor: pointer;
}

.course-page .instructor button {
  color: rgb(130, 40, 165);
  background-color: transparent;
  border: none;
}

.course-page .instructor button:hover {
  color: rgb(150, 43, 192);
}

.course-page .instructor .masked {
  mask-image: linear-gradient(to bottom, black 40%, transparent 100%);
}
