.course-page .header > div.content {
  width: 54%;
}

@media screen and (max-width: 990px) {
  .course-page .header > div.content {
    width: 80%;
    margin: auto !important;
  }
}

@media screen and (max-width: 490px) {
  .course-page .header > div.content {
    width: 98%;
    margin: auto !important;
  }
}

.course-page .header .path .item {
  color: rgb(223, 174, 243);
  font-size: 13px;
}

.course-page .header .path .item:hover {
  cursor: pointer;
  color: white;
}

.course-page .header h1 {
  font-size: 30px;
  color: white;
}

.course-page .header h2 {
  font-size: 20px;
}

.course-page .header h2 + h2 {
  color: grey;
  text-decoration: line-through;
}

.course-page .header .rate,
.course-page .app-bar .rate {
  font-size: 14px;
  margin-top: 4px;
  align-self: center;
  color: rgb(231, 231, 67);
}
.course-page .header .raters,
.course-page .app-bar .raters {
  font-size: 14px;
  margin-top: 4px;
  align-self: center;
  text-decoration: underline;
  color: rgb(223, 174, 243);
}

.course-page .header .raters:hover,
.course-page .app-bar .raters:hover {
  color: white;
  cursor: pointer;
}

.course-page .header .students,
.course-page .app-bar .students {
  font-size: 14px;
  margin-top: 4px;
  align-self: center;
  color: white;
}

.course-page .header .author {
  font-size: 14px;
  margin-top: 4px;
  align-self: center;
  color: white;
}

.course-page .header .author .name {
  font-size: 14px;
  margin-top: 4px;
  align-self: center;
  color: rgb(223, 174, 243);
  text-decoration: underline;
}

.course-page .header .author .name:hover {
  color: white;
  cursor: pointer;
}

.course-page .header .icon {
  font-size: 15px;
  margin-bottom: 2px;
}

.header-tabs {
  background-color: white;
  border-bottom: 1px solid rgba(128, 128, 128, 0.562);
}

.header-tabs .tabs {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-left: 80px;
  text-decoration: none;
}

@media screen and (max-width: 990px) {
  .header-tabs .tabs {
    width: 90%;
    margin: auto !important;
  }
}

.header-tabs .tabs a {
  width: 100%;
  color: grey;
  padding: 10px 0px;
  margin: 0px 5px;
  text-decoration: none;
  text-align: center;
}

.header-tabs .tabs a:hover {
  border-bottom: 1px solid black;
  color: black;
  cursor: pointer;
}

.course-page .app-bar {
  width: 100%;
  position: fixed;
  z-index: 5;
  top: 0;
}

.course-page .app-bar .content {
  width: 54%;
}

.course-page .app-bar h1 {
  color: white;
  font-size: 20px;
}

.course-page .app-bar h3 {
  color: white;
}

.course-page .app-bar button {
  padding: 10px;
  transition: 0.3s;
  color: black;
  background-color: white;
  border: 1px solid black;
}

.course-page .app-bar button:hover {
  background-color: black;
  color: white;
}

@media screen and (max-width: 990px) {
  .course-page .app-bar .content {
    width: 100%;
    bottom: 0;
    position: fixed;
    margin: auto;
  }

  .course-page .app-bar h1 {
    color: white;
    font-size: 15px;
  }
}

@media screen and (max-width: 600px) {
  .course-page .app-bar .content {
    background-color: white !important;
    box-shadow: 0px 1px 10px 2px rgba(0, 0, 0, 0.226);
  }

  .course-page .app-bar .content .inner {
    display: none;
  }

  .course-page .app-bar .content h3 {
    color: black;
  }

  .course-page .app-bar .content button {
    flex-grow: 1;
    background-color: black;
    color: white;
  }

  .course-page .app-bar button:hover {
    color: black;
    background-color: white;
  }
}

.course-page .app-bar .header-tabs {
  box-shadow: 0px 1px 10px 2px rgba(0, 0, 0, 0.226);
}

.course-page .header img {
  width: 98%;
  margin: 4px;
}

.course-page .header .add-to-cart {
  width: 90%;
  margin: 5px 5%;
  padding: 5px 14px;
  font-size: 20px;
  background-color: rgb(182, 71, 226);
  color: white;
  border: none;
  text-align: center;
  transition: 0.3s;
}

.course-page .header .add-to-cart:hover {
  background-color: rgb(202, 127, 231);
}
